@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using Project2.Models
@inject IHttpContextAccessor Accessor


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ATP Cosmetics Shop </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/fontlib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/Style.css" type="text/css" rel="stylesheet">
</head>
<body>

    <!-- Header Begin -->


    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="/Guest/Home" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold">
                        <span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper
                    </h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="/Guest/SearchProduct" method="Post">
                    <div class="input-group">
                        <input name="stringSearch" type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <button class="input-group-text bg-transparent text-primary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>

                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="" class="btn border">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge">0</span>
                </a>
                <a href="/User/Cart" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge"></span>
                </a>
            </div>
        </div>
    </div>
    <div style="margin-top:2%;" class="container-fluid ">
        <div style="padding-left: 0 !important;padding-right: 0 !important;" class=" border-top px-xl-5">

            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <a href="" class="text-decoration-none d-block d-lg-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold">
                        <span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper
                    </h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div style="margin-top:2%;margin-bottom:2%;" class="collapse navbar-collapse justify-content-between"
                     id="navbarCollapse">

                    <ul>

                        <li class=" dropdown-1">
                            <a href="/Guest/Home" id="button-home-1" class="nav-link">Home</a>

                        </li>

                        @{

                            string cate = Accessor.HttpContext.Session.GetString("categoryList");
                             string user = Accessor.HttpContext.Session.GetString("User");
                            User use = JsonConvert.DeserializeObject<User>(user);
                            foreach (Category category in JsonConvert.DeserializeObject<List<Category>>(cate))
                            {

                                @if (category.ParentId == 0)
                                {
                                    <li class=" dropdown-1">
                                        <a href="" style="color:#A29896; border:3px solid #FFF8F8" class="nav-link"
                                   data-toggle="dropdown">@category.TypeName</a>
                                        <div class=" dropdown-content  ">
                                            @foreach (Category category1 in JsonConvert.DeserializeObject<List<Category>>(cate))
                                            {
                                                @if (category1.ParentId == category.TypeId)
                                                {
                                                    <a href="/Guest/FilterCategory?typeID=@category1.TypeId" class="a-drop ">@category1.TypeName</a>
                                                }
                                            }
                                        </div>
                                    </li>
                                }
                            }
                        }

                    </ul>
                    @{
                        if (use.UserName is null)
                        {
                            <div style="width: 20%;margin-left:0 !important" class="navbar-nav ml-auto py-0">
                                <a href="/Guest/Login" class="nav-item nav-link">Login</a>
                                <a style="max-width: 100%;" href="/Guest/Register" class="nav-item nav-link">Register</a>
                            </div>
                        }
                        else
                        {

                           
                            <div style="width: 20%;margin-left:0 !important" class="navbar-nav ml-auto py-0">
                            <a href="/User/Profile" class="nav-item nav-link">Hello, @use.UserName</a>
                                <a href="/User/Logout" class="nav-item nav-link">Log out</a>
                            </div>
                        }
                    }


                </div>
            </nav>


        </div>
    </div>
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- Header End -->
    @RenderBody()

    <!-- Footer Begin -->


    <div class="container-fluid bg-secondary text-dark mt-5 " id="footer">
        <div style="display:flex;align-items: flex-start !important;flex-wrap: wrap !important;" class="px-xl-5 pt-5">

            <div style="margin-right: 20px;margin-left: 50px;" class="col-md-4 mb-5">
                <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                <form action="">
                    <div class="form-group">
                        <input type="text" class="form-control border-0 py-4" placeholder="Your Name"
                               required="required" />
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                               required="required" />
                    </div>
                    <div>
                        <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe Now</button>
                    </div>
                </form>
            </div>
            <div style="display:inline-block !important; margin-right: 30px;margin-left: 20px;" class="">
                <div class="">
                    <div class=" ">
                        <h5 class="font-weight-bold text-dark ">Hỗ trợ khách hàng</h5>
                        <div class="d-flex flex-column ">

                            <a href="About-you.html" class="nav-item nav-link" id="About-you">Về chúng tôi</a>
                            <a href="Helf-buy.html" class="nav-item nav-link" id="Help-buy">Hướng dẫn mua hàng</a>
                            <a href="Helf-pay.html" class="nav-item nav-link" id="Help-pay">Hướng dẫn thanh toán</a>
                            <a href="Contact.html" class="nav-item nav-link" id="Contact">Liên hệ</a>

                        </div>
                    </div>
                </div>
            </div>
            <div style="display:inline-block !important;margin-right: 20px;" class="">
                <div class="">
                    <div class=" ">
                        <h5 class="font-weight-bold text-dark ">Chính sách</h5>
                        <div class="d-flex flex-column ">

                            <a href="Chinh sach bao mat.html" class="nav-item nav-link" id="chinhsachbaomat">
                                Chính sách
                                bảo mật
                            </a>
                            <a href="Chinh sach doi tra.html" class="nav-item nav-link" id="chinhsachdoitra">
                                Chính sách
                                đổi trả
                            </a>
                            <a href="Chinh sach van chuyen.html" class="nav-item nav-link" id="chinhsachvanchuyen">
                                Chính
                                sách vận chuyển
                            </a>


                        </div>
                    </div>
                </div>
            </div>

            <div style="display:inline-block !important;margin-left: 50px;" id="map" class="col-lg-3 col-md-4 mb-5 pr-3 pr-xl-5 ">

                <div class="grid-item medium--one-half large--three-twelfths">

                    <div id="instafeed" class="thirty">
                        <div class="fb-page fb_iframe_widget"
                             data-href="https://www.facebook.com/ATP-Cosmetics-101771418573593/?ref=pages_you_manage"
                             data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                             data-show-facepile="true" fb-xfbml-state="rendered"
                             fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=280&amp;hide_cover=false&amp;href=https://www.facebook.com/ATP-Cosmetics-101771418573593/?ref=pages_you_manage&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false">
                            <span style="vertical-align: bottom; width: 280px; height: 130px;">
                                <iframe name="f17ba0e8e1a1d34" width="100px" height="100px"
                                        data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin"
                                        frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no"
                                        allow="encrypted-media"
                                        src="https://www.facebook.com/v12.0/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df39a00859b294a8%26domain%3Djokerface.vn%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fjokerface.vn%252Fffec88752a857%26relation%3Dparent.parent&amp;container_width=280&amp;hide_cover=false&amp;href=https://www.facebook.com/ATP-Cosmetics-101771418573593/?ref=pages_you_manage&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false"
                                        style="border: none; visibility: visible; width: 280px; height: 130px;"
                                        class=""></iframe>
                            </span>
                        </div>

                    </div>
                </div>
                <p class="mb-2">
                    <i class="fa fa-map-marker-alt text-primary mr-3"></i>Ngách 21, ngõ Tam Khương, đường
                    Tôn Thất Tùng, phường Khương Thượng, quận Đống Đa, thành phố Hà Nội.
                </p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>


        </div>

        <div class="row border-top border-light mx-xl-5 py-4">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-dark">
                    &copy; <a class="text-dark font-weight-semi-bold" href="#">Your Site Name</a>. All Rights Reserved.
                    Designed
                    by
                    <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com">HTML Codex</a><br>
                    Distributed By <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>

    </div>




    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- Footer End -->
    <!-- JavaScript Libraries -->
 
</body>
</html>

